# The executables
sdl2-engine
*.exe

# The build folder
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files, just in case
*~

# Kate files
*.kate-swp

# Doxygen gh-pages folder
gh-pages/

#cpplint
cpplint.py
lint.log

# Any kind of log file (especially the valgrind ones I forget to delete)
*.log
